* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 25px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
body {
    display: flex;
    background-color: #3f3f3f;
}

.column {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 20, 20, 1);
    height: 10%;
    width: 100%;
}

.logo {
    font-size: 100%;
    font-weight: bold;
    color: #ff5656;
    margin-left: 3%;
}

.tela {
    padding-left: 10%;
    padding-right: 10%;
}

.tabela {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 8px;
    border-color: #000000;
    border-collapse: collapse;
    padding: 5% 5% 5% 5%;
}

.tabela a {
    text-decoration: none;
    color: #000000;
    padding: 1% 2%;
    border-radius: 2%;
    padding: 5%;
    padding-left: 5%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.tabela a:hover {
    color: blue;
}

td,
tr {
    padding-bottom: 6%;
    padding-top: 6%;
    border: black;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #000000;
    height: 10%;
    width: 10%;
}

td {
    padding: 1% 1% 1% 1%;
}

#divImg {
    display: flex;
    padding: 30% 10% 1% 10%;
    height: 20%;
}

#GrandImg {
    display: flex;
    flex-direction: row;
}

#Img {
    padding: 20% 20% 5% 55%;
    display: flex;
    width: 70%;
    height: 300px;
    object-position: center;
    border-radius: 10px;
}

#microImg {
    display: flex;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 10px;
}

#produtos{
    padding: 0% 0% 0% 55%;
}

#contato{
    padding-top: 24%;
    padding-left: 22%;
}
#inicio{
    padding-top: 25%;
    padding-left: 36%;
}


.icon {
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.buttonImg {
    width: 90%;
    height: 90%;
}

.content {
    display: flex;
}
        
#left {
    width: 2%;
    height: 100%;
    background-color: rgba(20, 20, 20, 1);;
}

#right {
    width: 17%;
    height: 100%;
}

#center {
    width: 81%;
    height: 100%;
    background-color: rgb(128, 156, 156);
    border-radius: 50px;   
    flex-direction: row;     
}

.panel {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 1);
    flex-direction: row;
    justify-content: right;
}

.text {
    padding: 15% 15% 10% 15%;
    align-content: center;
    text-align: left;
    
}

.text p {
    background-color: rgb(192, 185, 185, 20%);
    color: rgb(229, 255, 0);
    border-radius: 14px;
    padding: 2% 0% 2% 0%;
    border-radius: 10px;
}