/*------------------------------ TODOS ------------------------------*/
/*Comum*/
* {
    box-sizing: content-box;
    font-size: 25px;
    font-family: "verdana"
}

/* Body */
html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

body {
    display: flex;
    background-color: #3f3f3f;
}

.column {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 20, 20, 1);
    height: 10vh;
    width: 100vw;
    translate: 0vw 0vh;
}

.logo {
    display: flex;
    margin-left: 3%;
}

#logo {
    height: 7vh;
    padding-left: 2vw;
}

#logoT {
    padding-top: 3vh;
    padding-left: 2vw;
    font-size: 100%;
    font-weight: bold;
    color: #ff5656;
}

       
/* Centro */
#left {
    width: 2vw;
    height: 80vh;
    background-color: rgba(20, 20, 20, 1);
}

#center {
    width: 81vw;
    height: 80vh;
    background-color: rgb(128, 156, 156);
    border-radius: 50px;   
    flex-direction: row;     
}

#right {
    width: 17vw;
    height: 80vh;
    background-color: rgba(20, 20, 20, 1);
}

.painel {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 1);
    flex-direction: row;
    justify-content: right;
}

/* ------ Centro Texto ------ */
.centroT {
    background-color: rgb(233, 233, 152);
    box-shadow: 0 0 .5rem rgb(255, 255, 255);
    padding: .5rem 1rem;
    box-sizing: border-box;
    translate: 3vh 1vw;
    height: 68vh;
    width: 78vw;
    border-radius: 2px;
    transform-style: preserve-3d;
    animation: parado3d 10s linear infinite;
}

.text {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

/* Animação centro girando */
@keyframes girar3d {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* Animação centro parado */
@keyframes parado3d {
    100% {
        transform: rotateY(0deg);
    }
}

/* Layout painel de botões */
.tabela {
    width: 14vw;
    background-color: white;
    border-radius: 20px;
}


/* ------ Visor ------ */
.tela {
    padding-left: 1vw;
    padding-right: 1vw;
    translate: 1vw 8vh;
    height: 20vh;
    width: 30vw;

}

#divImg {
    display: flex;
    translate: 4vw 2vh;
    height: 7vw;
    width: 10vw;    
}

#microImg {
    display: flex;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 10px;
}

/* ------ Numpad ------ */

td,
tr {
    padding-bottom: 6%;
    padding-top: 6%;
    border: black;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #000000;
    height: 10%;
    width: 10%;
}

td {
    padding: 1% 1% 1% 1%;
}

/* Imagem dos botões */
.buttonImg {
    width: 90%;
    height: 90%;
}

/* Botões do numpad */
.numPad {
    background-color: white;
    border: white;
}

/* ------ Redes sociais ------ */
.icon {
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ------ Navegação do site ------ */ 

#navegacao {
    height: 5vw;
    translate: 0vw -3vh;
}

#sites {
    height: 5vw;
    translate: 0vw -4vh;
}

.tabela a {
    text-decoration: none;
    color: #000000;
    font-size: 1vw;
}

.tabela a:hover {
    color: blue;
}

/* ------ Botões Internos ------ */
.botao {
    height: 1.6vw;
    width: 5vw;
    border-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 0 0.1vw rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#botaoInterno1 {
    translate: 20% 20%;
}

#botaoInterno2 {
    translate: 160% -80%;
}

#botaoInterno3 {
    translate: 20% -30%;
}

#botaoInterno4 {
    translate: 160% -130%;
}

/* Testo do botão */
.botaoText {
    text-align: center;
}

/* Image do botão */
.botao img {
    height: 1.4vw;
    width: 1.4vw;
}


/* Footer */
.footer {
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 20, 20, 1);
    height: 10vh;
    width: 100vw;
    translate: 0vw 0vh;
}

/*------------------------------ INICIO ------------------------------*/
/* Ajuste do centro para a pag inicio */
#inicioT {
    padding-top: 33vh;
}

/*------------------------------ EMPRESA ------------------------------*/
/* Ajuste do centro para a pag empresa */
#empresaT {
    padding-top: 5vh;
    text-align: center;
}

/*------------------------------ CONTATO ------------------------------*/
/* Ajuste do centro para a pag contato */
#contatoT {
    padding-top: 5vh;
}

/* Caixa de texto padrão */
.boxT {
    text-align: left;
    height: 3vh;
    width: 50vw;
}

/* Caixa de texto utilizada para mensagem */
#mensagem {
    height: 10vh;
}

/* Botão enviar */
.enviar {
    height: 1.5vw;
    width: 6vw;
    font-size: 70%;
}
