<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro-Ondas</title>
    <link rel="stylesheet" href="produtos.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img id="logo" src="img/logo.png" alt="">
                <div id="logoT">O Rei do Micro-ondas</div>
            </div>
            <div class="link" id="index"><a href="index.html">Início</a></div>
            <div class="link" id="empresa"><a href="empresa.html">Empresa</a></div>
            <div class="link" id="contato"><a href="contato.html">Contato</a></div>
        </div>
        <div class="produtos">
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas0.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 0
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas LG MS3097A preto 30L 127V
                       <p>R$790 em 10x R$79 sem juros
                       </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas1.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 1
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas Me36b Efficient 36 Litros Branco Electrolux 110V
                        <p>R$ 729 
                        10x 72,90 sem juros
                        </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas2.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 2
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas Prata 23l Efficient Me23s Electrolux 110V
                       <p>R$654,20 em 10x R$65,42 sem juros
                       </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas3.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 3
                </div>
                <div>
                    <div class = "preco">
                    <p>Forno Micro-ondas Philco Pmo28 1400w 28 Litro Espelhado 110v
                        <p>R$712,98 em 10x R$71,30 sem juros
                        </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas4.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 4
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas 32 L Com Menu Gourmet Bms46ar Cinza Brastemp 110V
                        <p>R$885 em 10x R$88,50 sem juros
                        </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas5.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 5
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas Menu Gourmet Bms46ab 32 Litros Branco Brastemp 110V
                        <p>R$985,75 em 10x R$98,58 sem juros
                        </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas6.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 6
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas Brastemp 32 Litros Bms46ar Prata Espelhado 110v
                        <p>R$1.013,65 em 12x R$98,27
                        </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas7.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 7
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas Britânia BMO23BB branco 20L 127V
                        <p>R$792,75 em 10x R$79,28 sem juros
                        </p>
                    </p>
                    </div>
                </div>
            </div>
            <div class="produto">
                <div class="boxImg">
                    <img id="img" src="img/microondas/microondas8.png" alt="">
                </div>
                <div class="boxText">
                    Microondas 8
                </div>
                <div>
                    <div class = "preco">
                    <p>Micro-ondas Bmo28ieb Porta Espelhada 1400w Britânia 110v
                        <p>R$785 em 10x R$78,50 sem juros
                        </p>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer"></footer>
    </div>
</body>

</html>