/*Comum*/
* {
    box-sizing: content-box;
    font-size: 25px;
    font-family: "verdana"
}

/*body*/
html,
body {
    width: 100vw;
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    background-color: #a3a3a3;    
}

a {
    color: blue;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 10vh;
    width: 100vw;
    translate: 0vw 0vh;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 4vh;
    width: 100vw;
    margin-top: 10vh;
}

.logo {
    display: flex;
    margin-left: 3%;
}

#logo {
    height: 7vh;
    padding-left: 2vw;
}

#logoT {
    padding-top: 2vh;
    padding-left: 2vw;
    font-size: 100%;
    font-weight: bold;
    color: #ff5656;
}


.link a {
    text-decoration: none;
    color: rgb(100, 100, 253);
    font-size: 80%;
    border-color: #000000;
    border-radius: 10px;
}

.link a:hover {
    color: rgb(193, 193, 255);
}

#index {
    translate: 33vw 0vh;
}
#empresa {
    translate: 14vw 0vh;
}
#contato {
    translate: -5vw 0vh;
}
#titulo{
    text-align: center;
}

.new {
    width: 20vw;
    height: 8vh;
    margin-top: 1vw;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(215, 255, 255, 40%);
    translate: 40vw;
    text-align: center;
    text-justify: center;
}

.tabela {
    width: 80%;
    margin-top: 1vw;
    background-color: rgb(215, 255, 255, 40%);
    border-collapse: collapse;
    border-spacing: 0px;
    translate: 10vw;
}
.tabela td, th{
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(215, 255, 255, 40%);
    padding-left: 10px;
}

.form {
    background-color: rgb(215, 255, 255, 40%);
    border-style: solid;
    border-color: #000000;
    width: 500px;
    margin-top: 1vw;
    justify-self: center;
    align-self: center;
}

.form form{
    justify-self: center;
    align-self: center;
    text-align: center;
    
}

#submit {
    margin-bottom: 20px;
}

#modal {
    position: absolute;
    align-self: center;
    border-style: solid;
    border-color: #000000;
    border-radius: 50px;
    top: 32%;
    width: 400px;
    height: 400px;
    background-color: rgb(15, 201, 160);
    visibility: hidden;
    
}
#resposta {
    margin-top: 30%;
    margin-left: 50px;
    width: 300px;
    color: #000000;
    text-align: center;
}

#button {
    margin-top: 20%;
    margin-left: 90px;
    width: 200px;
    border-color: #000000;
    border-radius: 50px;
    text-align: center;
}

@media (min-width: 0px) {
    #logoT {font-size: 15px;}
    #index { translate: 0vw 0vh; font-size: 20px;}
    #empresa { translate: -5vw 0vh; font-size: 20px; }
    #contato { translate: -10vw 0vh; font-size: 20px; }
}

@media (min-width: 1200px) {
    #index { translate: 15vw 0vh; }
    #empresa { translate: 2vw 0vh; }
    #contato { translate: -10vw 0vh; }
}
