<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro-Ondas</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img id="logo" src="img/logo.png" alt="">
                <div id="logoT">O Rei do Micro-ondas</div>
            </div>
        </div>
        <div class="column">
            <div class="content" id="left"></div>
            <div class="content" id="center">
                <div class="text">
                    <p class="centroT" id="empresaT">
                        Bem-vindo ao "O Rei do Micro-ondas"<br> A empresa fonte definitiva para transformar a forma como
                        você vê
                        e utiliza seu micro-ondas.<br><br>
                        Nossa missão é revolucionar a maneira como você prepara,<br>
                        aquece e saboreia suas refeições, tornando a experiência culinária mais simples, eficiente e
                        deliciosa.<br><br>
                        Quem Somos:<br>
                        Somos uma equipe apaixonada por tecnologia e culinária, unindo o melhor dos dois mundos para
                        oferecer soluções inovadoras para sua cozinha. Com anos de experiência na indústria,
                        desenvolvemos produtos e
                        serviços que visam simplificar sua vida e melhorar a qualidade das suas refeições.
                    </p>
                </div>
            </div>
            <div class="content" id="right">
                <div class="painel">
                    <div id="divImg">
                        <img id="microImg" src="img/microondas/microondas0.png" alt="">
                    </div>
                    <div class="tela">
                        <div class="tabela" id="sites">
                            <div class="botao" id="botaoInterno1"><a href="http://www.facebook.com.br"><img class="icon"
                                        src="img/fb_icon.png" alt=""></a></div>
                            <div class="botao" id="botaoInterno2"><a href="https://twitter.com/"><img class="icon"
                                        src="img/x icon.png" alt=""></a></div>
                            <div class="botao" id="botaoInterno3"><a href="https://www.instagram.com/"><img class="icon"
                                        src="img/Instagram-Logo.png" alt=""></a></div>
                            <div class="botao" id="botaoInterno4"><a
                                    href="https://www.google.com.br/search?q=rip&sca_esv=570134643&tbm=isch&source=lnms&sa=X&ved=2ahUKEwj22vL_tNiBAxW3lZUCHV7EDBgQ_AUoAXoECAIQAw&biw=1552&bih=786&dpr=1"><img
                                        class="icon" src="img/Orkut_Logo_2.png" alt=""></a></div>
                        </div>
                        <div class="tabela" id="navegacao">
                            <div class="botao" id="botaoInterno1">
                                <div class="botaoText"><a href="index.html">Início</a></div>
                            </div>
                            <div class="botao" id="botaoInterno2">
                                <div class="botaoText"><a href="empresa.html">Empresa</a></div>
                            </div>
                            <div class="botao" id="botaoInterno3">
                                <div class="botaoText"><a href="produtos.php">Produtos</a></div>
                            </div>
                            <div class="botao" id="botaoInterno4">
                                <div class="botaoText"><a href="contato.html">Contato</a></div>
                            </div>
                        </div>
                        <table class="tabela">
                            <tr>
                                <td><button class="numPad" onclick="trocar(1)">1</button></td>
                                <td><button class="numPad" onclick="trocar(2)">2</button></td>
                                <td><button class="numPad" onclick="trocar(3)">3</button></td>
                            </tr>
                            <tr>
                                <td><button class="numPad" onclick="trocar(4)">4</button></td>
                                <td><button class="numPad" onclick="trocar(5)">5</button></td>
                                <td><button class="numPad" onclick="trocar(6)">6</button></td>
                            </tr>
                            <tr>
                                <td><button class="numPad" onclick="trocar(7)">7</button></td>
                                <td><button class="numPad" onclick="trocar(8)">8</button></td>
                                <td><button class="numPad" onclick="trocar(9)">9</button></td>
                            </tr>
                            <tr>
                                <td><button class="numPad" onclick="animationCenter(false)"><img class="buttonImg"
                                            src="img/Desligar.fw.png" alt=""></button></td>
                                <td><button class="numPad" onclick="trocar(0)">0</button></td>
                                <td><button class="numPad" onclick="animationCenter(true)"><img class="buttonImg"
                                            src="img/Ligar.fw.png" alt=""></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer"></div>
    </div>

</body>

</html>