/*Comum*/
* {
    box-sizing: content-box;
    font-size: 25px;
    font-family: "verdana";
}

/*body*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}

body {
    display: flex;
    background-color: #a3a3a3;    
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 10vh;
    width: 100vw;
    translate: 0vw 0vh;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 4vh;
    width: 100vw;
    margin-top: 10vh;
}

.logo {
    display: flex;
    margin-left: 3%;
}

#logo {
    height: 7vh;
    padding-left: 2vw;
}

#logoT {
    padding-top: 2vh;
    padding-left: 2vw;
    font-size: 100%;
    font-weight: bold;
    color: #ff5656;
}


.link a {
    text-decoration: none;
    color: rgb(100, 100, 253);
    font-size: 80%;
    border-color: #000000;
    border-radius: 10px;
}

.link a:hover {
    color: rgb(193, 193, 255);
}

#index {
    translate: 33vw 0vh;
}
#empresa {
    translate: 14vw 0vh;
}
#contato {
    translate: -5vw 0vh;
}

#carrinho {
    position: absolute;
    right: 100px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 0 0px #FFDD83, 0 0 0 0px #FFDD83;
    border-radius: 90%;
    transition: box-shadow 1s ease-in-out;
}

#carrinho:hover {
    box-shadow: 0 0 0 8px #FFDD83, 0 0 0 8px #FFDD83;
}

#menuCompras {
    display: none;
}

#menuCompras:checked ~ label #carrinho {
    box-shadow: 0 0 0 100vw #FFDD83, 0 0 0 100vw #FFDD83;
}


#carrinho img {
    max-width: 100%;
    height: auto;
}

#menuCompras {
    width: 100px;
    height: auto;
}

.produtos {
    font-style: italic;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 2.4em;
    translate: 10vw 6vh;
}


@media (min-width: 0px) {
    .produtos { grid-template-columns: repeat(1,  0.29fr); }
    #logoT {font-size: 15px;}
    #index { translate: 0vw 0vh; font-size: 20px;}
    #empresa { translate: -5vw 0vh; font-size: 20px; }
    #contato { translate: -10vw 0vh; font-size: 20px; }
}

@media (min-width: 1200px) {
    .produtos { grid-template-columns: repeat(2,  0.5fr); }
    #index { translate: 15vw 0vh; }
    #empresa { translate: 2vw 0vh; }
    #contato { translate: -10vw 0vh; }
}

@media (min-width: 1910px) {
    .produtos { grid-template-columns: repeat(3, 0.29fr);}
}

.produtos p {
    max-width: 20ch;
    font-size: 20px;    
    line-break: strict;
    word-wrap: break-word;
    text-align: center;
    align-self: center;
    margin-left: 130px;
}

.produto {
    border-color: #000000;
    border-radius: 30px;
    box-shadow: 0 0 0 0.3vw rgb(117, 29, 29);
    background-color: rgb(255, 255, 255, 0.7);
    height: 450px;
    width: 500px;
}

.boxImg img{
    height: 150px;
    width: 300px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 20px;
}

.boxText {
    text-align: center;
    padding-top: 30px;
}
.preco{
    font-style:oblique;
    color:firebrick;
}

#button {
    margin-left: 190px;
    border-radius: 20px;
}

#listaCompras {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 20px;
    right: 300px;
    visibility: hidden;
    transition: 2s;
}

@keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

#tabelaCompras {
    width: 100%;
    margin-top: 1vw;
    border-collapse: collapse;
    background-color: rgb(215, 255, 255, 40%);
    border-spacing: 0px;
}

.tabelaCompras tbody, td, th {
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: solid;
    border-color: #000000;
    padding-left: 10px;
}

#Comprar {
    width: 300px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 85%;
}

#menuCompras:checked ~ #listaCompras {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}














